.content_main_container {
    h1 {
        text-align: center;
        padding-top: 10%;
        width: 400px;
        margin: auto;
        font-size: 32px;
    }

    p {
        font-size: 20px;
        text-align: center;
        padding-top: 2%;
    }

    a {
        display: flex;
        justify-content: center;
        margin-top: 10%;
        text-decoration: none;

        button {
            width: 200px;
            height: 50px;
            border-radius: 14px;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 3px;
            color: #0F0F2E;
            cursor: pointer;
            border: 2px solid #0C59DB;

            &:hover {
                background-color: #117BF5;
                border: none;
                color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .content_main_container {
        h1 {
            width: 300px;
            font-size: 25px;
            padding-top: 18%;
        }

        p {
            font-size: 18px;
        }

        a {
            button {
                width: 170px;
                height: 40px;
                font-size: 23px;
                margin-top: 7%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .content_main_container {
        h1 {
            width: 240px;
            font-size: 20px;
            padding-top: 24%;
        }

        p {
            font-size: 16px;
            text-align: center;
            padding-top: 2%;
        }

        a {
            button {
                width: 130px;
                height: 38px;
                font-size: 20px;
            }
        }
    }
}
//Where is media for 480px